*/Build/
*/Binaries/
*/DerivedDataCache/
*/Intermediate/
*/Platforms/
*/Plugins/
*/Saved/

/Content/Characters/
/Content/StarterContent/
/GameSandbox.uproject.DotSettings.user

*BuiltData.uasset

**/Animation/
**/Audio/
**/Icon/
**/Input/
**/Font/
**/Level/
**/Mesh/
**/Materials/
**/Textures/
**/Particle/
**/Sound/
**/VFX/

**/Mannequin/